<div class="blog-masthead">
  <div class="container">
    <nav class="nav-bar">
      <a class="blog-nav-item" href="#programme">Programme</a>
      <a class="blog-nav-item" href="#">Inscription</a>
    </nav>
  </div>
</div>

<div class="container">
  <div class="blog-header">
    <div class="container-image">
      <div class="element-image">
      <%= image_tag "logo_THP.png", alt: "Logo", width: 264, height: 64 %>
      </div>
    </div>
    <h1 class="blog-title">The hacking project</h1>
    <p class="lead blog-description">La formation pour apprendre à coder</p>
  </div>


  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <hr>

        <h2>Pourquoi rejoindre THP ?</h2>
        <p>Dans un monde où de nombreux métiers sont en mutation et où personne ne connait les métiers de demain, une seule certitude est présente : les programmations de système et le code seront omniprésents. Ceux qui sauront coder détiendront donc les clés du futur.</p>

        <div><a class="btn btn-primary" href="#form"> Recevoir un cours</a></div>
        <h3>Qui peut faire la formation</h3>
        <p>Ouverte et accessible à tous, cette formation a pour objectif de
        vous donner les clés secrètes de la programmation.
        Grâce à un apprentissage en peer-learning, c’est-à-dire qu’il n’y a
        pas de professeur et que les élèves vont devoir apprendre avec l’aide
        de ressources concrètes, et surtout s’entraider, car la notion de travail
        en équipe est et sera très importante dans l’apprentissage
        (tous dans la même galère, ahah !).
        Déjà 2 ans d’existence, ce qui a donc développé une grande communauté
        à travers la France, qui plus est, très active et sera toujours présente
        pour filer une coup de main. Vous l’aurez compris, l’entraide est un
        vrai plus de cette formation.
        Vous développerez diverses compétences à l’issue de THP dont
        savoir travailler en équipe et être capable de développer une
        application web de A à Z.

        On attend de vous que vous soyez sur-motivé car la formation reste courte
        et donc très intense.</p>


      </div><!-- /.blog-post -->

      <div class="blog-post" id="programme">
        <h3>Qu'est ce que vous allez apprendre à THP</h3>
        Ce que vous allez apprendre durant cette formation:

        <ul>
          <li>Apprendre à travailler ensemble sur les projets
          demandés tout le long de la formation </li>
          <li>Gérer un projet avec Git et GitHub </li>
          <li>Apprendre à coder avec Ruby </li>
          <li>Connaître Ruby On Rails sur le bout des doigts </li>
          <li>Pimper votre application web avec HTML, CSS, Boostrap, javascript </li>
          <li>Présenter votre projet final devant un jury. </li>
        </ul>

        <h3>Quel est le programme technique</h3>
        <p>
        <strong>Ruby/Ruby on Rails(backend) :</strong><br/>
        Ce langage a une syntaxe claire simple et compréhensible intuitive.
        Il regroupe une large communauté notemment sur StackOverflow (site FAQ pour les développeurs)
        Il dispose de nombreux frameworks et librairies qui sont open-source
        Le framework le plus répandu étant Ruby on Rails; il permet de créer le squelette d’une future application web rapidement et intuitivement.
        Il dispose d’une documentation complète ainsi que de plusieurs type de formations comme des cours en ligne (Openclassroom, Grafikart, Codecademy).
        </p>
        <p>
        <strong>HTML & CSS(frontend) :</strong><br/>
        ce ne sont pas des langages de programmation, mais de représentation de la donnée. C’est ce que le navigateur sait lire pour pouvoir afficher une page web (contenu et style)
        </p>
        <p>
        <strong>JavaScript(frontend) :</strong>
         c’est le langage de programmation que connaît le navigateur, qui permet de rendre les pages dynamiques. Par exemple, sur Gmail, les nouveaux emails apparaissent automatiquement sans rafraîchir la page, et c’est grâce à JavaScript (et AJAX plus précisément)
        </p>
        <p>
        <strong>GitHub Flow :</strong><br/>
        il est toujours pertinent de versionner et d’utiliser git, même si on est seul. C’est un formidable outil et GitHub l’a sublimé en apportant au-dessus une couche sociale ainsi que des outils de collaboration formidables.
        </p>
        <p>
        <strong>SQL :</strong><br/>
        c’est le langage de requête utilisé pour parler avec une base de données comme PostgreSQL. Une application web présente des données à l’utilisateur, et permet de les modifier (par exemple, Facebook affiche des posts dans un feed, et vous permet d’en créer de nouveaux), et c’est le rôle de la base de données de stocker tout cela.
        </p>
        <h3>Ca m'intéresse ! Je veux recevoir un cours</h3>

        <%= render :partial => "layouts/form_general" %>
        <nav>
          <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </nav>
      </div><!-- /.blog-main -->
    </div>

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>Témoignages</h4>
        <p>Ce que nos élèves en pensent :</p>

        <div class="sidebar-module">
          <h4>Julien</h4> <hr>
          <div class="photo">
            <span>
              <%= image_tag "temoignage_1.png", alt: "Témoignage 1", class: "temoignage-photo" %>
            </span>
            <div class="dropdown">
                <div class="dropdown-title">
                  <p> <strong>Poste actuel :</strong> Développeur chez ClaraVista </p>
                  <p> <strong>Formation initiale :</strong>  Ecole IPSSI / Groupe IP-Formation </p>
                </div>
                <p> <blockquote>J'ai fait beaucoup de boulots différents, mais surtout beaucoup de musique après mes études, pour finalement travailler dans différents bars. C'était très amusant certes, mais sur le long terme je savais que cela ne me conviendrait pas, j'ai commencé à réfléchir à une reconversion, et me suis naturellement tourné vers le web et la programmation. Un ami m'a parlé de THP, je l'ai rejoint tout de suite. La formation revêt énormément d'aspects qui m'ont enthousiasmé : Le peer-learning, le programme intense, Ruby et Ruby on Rails qui sont simplement passionnants, le programme couvre un large panel de langages et techniques. En projet final, nous avons travaillé sur le site de THP, c'était une expérience enrichissante. Grâce à THP, je commence un stage et mon projet de reconversion se concrétise plus que je ne l'aurais pensé."</blockquote>  </p>
            </div>
          </div>
      </div>

      <div class="sidebar-module">
        <h4>Kaliane</h4> <hr>
        <div class="photo">
          <span>
            <%= image_tag "temoignage_2.png", alt: "Témoignage 2", class: "temoignage-photo" %>
          </span>

          <div class="dropdown">
              <div class="dropdown-title">
                <p> <strong>Poste actuel :</strong> eCRM Consultant & Product Owner </p>
                <p> <strong>Formation initiale :</strong> Master e-business </p>
              </div>
              <p> <blockquote>Avec mon master en Ebusiness, je travaillais en tant que consultante CRM et proxy Product owner chez AXA et j'ai démissionné pour THP. J'ai découvert THP par hasard sur Facebook en lisant l'article la crème de la crème. Ca m'a donné l'envie de me former en développement web et d'ajouter cette compétence sur mon CV. Ce qui a payé puisqu'aujourd'hui je travaille à la Société Générale en tant que consultante externe. Je suis chef de projet Chatbots et THP m'a permis d'avoir ce poste qui demande d'avoir des notions techniques. Les recruteurs m'ont même dit qu'ils m'auraient jamais proposé ce type de poste si je n'avais pas fait ce type de formation.</blockquote>  </p>
          </div>
        </div>
      </div>

      <div class="sidebar-module">
        <h4>Raphaël</h4> <hr>
        <div class="photo">
          <span>
          <%= image_tag "temoignage_3.png", alt: "Témoignage 3", class: "temoignage-photo" %>
          </span>
            <div class="dropdown">
              <div class="dropdown-title">
                <p> <strong>Poste actuel :</strong> Business Development chez - kodex - </p>
                <p> <strong>Formation initiale :</strong> Ecole des entraîneurs de Handball </p>
              </div>
                <p> <blockquote>J'ai fais des études d'Architecture. Sportif de haut niveau et coach dans le handball, j'ai lancé une page facebook pour rassembler les sportifs et se motiver ensemble. Je suis venu à THP avec l'idée de passer au niveau supérieur et d'être capable de sortir mon site moi même. J'ai débuté sans la moindre notion de code quel qu'il soit. Les débuts dans la formation n'ont pas été évidents. Mais je peux en témoigner c'est véritablement accessible à tout le monde. Le code ça n'est pas compliqué, c'est uniquement savoir si on a envie de se faire mal ou pas! De plus quand on a un problème ou un blocage, la communauté THP est fantastique et répond toujours rapidement aux questions que l'on se pose. Pour le projet final nous avons fait un "AirBnB" pour les espaces de coworking: Cowrkit. https://cowrkit.herokuapp.com/ . Je suis assez fier de voir ce que nous avons réussi à sortir au bout de seulement 3 mois de code. Enfin, après THP nous nous sommes regroupé avec quelques corsaires pour continuer à apprendre de nouvelles compétences ensemble. Et depuis deux semaines avec un de la bande nous somme en train de coder mon site. C'est aussi ça la force de THP, la communauté et les rencontres qu'on y fait. Trois moi à bosser ensemble ça crée des liens et on est pas à l'abri de rencontrer des gens avec qui travailler plus tard!" </blockquote>  </p>
            </div>
          </div>
        </div>

        <div class="sidebar-module">
          <h4>Claire</h4> <hr>
          <div class="photo">
            <span>
              <%= image_tag "temoignage_4.png", alt: "Témoignage 4", class: "temoignage-photo" %>
            </span>
            <div class="dropdown">
              <div class="dropdown-title">
                <p> <strong>Poste actuel :</strong> KissKissBankBank & Co, Lama Digital</p>
                <p> <strong>Postes précédents :</strong> Citrus Capital Project, Morgan Stanley, EDF </p>
              </div>
              <p>
                <blockquote>Je suis ingénieur de formation, j'ai eu une superbe carrière en finance / énergie à l'étranger, notamment à Londres et aux US. Ces dernières années, j'habitais au Texas et j'ai fait du conseil pour quelques startups. C'est à ce moment là que je me suis dit qu'il fallait que je me mette à coder. Notre société est en pleine transformation ; j'avais l'impression de passer à côté de quelque chose. Certes j'avais fait un peu de code avant (du C en école d'ingénieur, et beaucoup de VBA pour automatiser mes spreadsheets Excel), mais j'étais curieuse de comprendre le fonctionnement d'une application web. En rentrant en France j'avais envie d'un vrai changement: c'était l'occasion pour moi de me mettre à coder. J'ai connu THP vraiment par hasard. J'étais au salon Vivatech en juin dernier, au cours duquel j'ai rapidement discuté avec le fondateur de Crème de la Crème. Résultat je suis allée faire un tour sur son site : il y avait justement un article de Felix qui parlait du lancement de la première saison de THP. Je suis restée jusqu'au bout car c'était génial, autant d'un point de vue technique que d'un point de vue humain. J'ai rencontré de belles personnalités que je n'aurais pas croisées autrement. C'est une véritable aventure humaine. Mon groupe est resté très soudé : aujourd'hui nous essayons de déjeuner tous ensemble une fois par mois. La formation est un challenge pour chacun quelque soit son niveau. Il y a tellement de choses à découvrir, qu'on peut toujours choisir d'aller plus loin. Pour notre projet final, notre équipe a développé une application qui détecte les niches sur lesquelles vendre des produits sur Amazon. C'est à dire des niches sur lesquelles la demande est forte et la compétition faible. L'application scrappe énormément de pages amazon, estime le nombre de ventes de chaque produit et utilise également une API de traduction, étant donné qu'on analyse les 5 marketplaces européennes. C'était un projet ambitieux sur 2 semaines. Nous avions commencé à documenter le sujet quelques semaines avant, car il y a eu toute une phase de réflexion sur l'outil avant d'écrire la première ligne de code. Je me suis beaucoup amusée pendant THP, à tel point que j'ai décidé de poursuivre mon apprentissage du code. Et pour cela : rien de mieux que de rejoindre une équipe technique avec des stars du code. Je cherchais si possible une boite Fintech étant donné mon bagage financier. J'ai donc rejoins l'équipe de devs de KissKissBankBank. En parallèle, j'essaye de lancer mon premier produit sur Amazon."  </blockquote>
              </p>
            </div>
          </div>
        </div>
      </div><!-- /.sidebar -->
    </div>
  </div>
  <%= render :partial => "layouts/footer" %>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
